* {
    padding:0px;
    margin: 0px
}

body{
    font-family: Arial;
    font-size: 16px;
}

#wrapper {
    width: 900px;
    margin:0 auto;
}

.clearfix{
    clear:both;
}

.navbar img{
    width:100px;
}

.navbar {
    width:900px;
    height:100px;
    background: #fff;
    margin: 0 auto;
    border-top: 4px #D52B1E solid;
}

.logo {
    padding:10px;
    float:left;
    height:20px;
    
}

#social {
    float:right;
    display:block;
    font-size:20px;
}

#social ul li:hover{
    opacity:1;
    transition:opacity 500ms;
}

#social ul li {
    list-style-type: none;
    display:inline-block;
    padding:10px;
    cursor: pointer;
}

#menuItem ul li {
    list-style-type:none;
    display:inline-block;
    padding:10px;
    cursor: pointer;
    color: #ff0000;
}

.fa-facebook-square {
    color:#4267B2;
}
.fa-twitter-square {
    color:#28AAE1
}
.fa-youtube-square{
    color:#CD201F
}
#menuItem {
    float:right;

}
#menuItem ul li:hover{
    
    
}
.banner{
    width:900px;
    height:250px;
    margin: 0 auto;
    overflow:hidden;
    margin-bottom:20px;
}

.banner img {
        transform: scale(1.1);
}
.page{
    width:68%;
    float: left;
    height: 350px;
    margin:5px;
    float:left;
    line-height: 1.5em;     
}

.page h1{
    font-size: 22px;
    color: red;
    margin-bottom:20px;
    width: 300px;
    border-bottom: 5px red solid;
}
.page p{
    text-align: justify;
    size:14px;
    color:green;
}

.sidebar{
    float:right;
    width: 28%;
    height: 170px;
    line-height:1.3em;
}

.sidebar img{
    position:relative;
    right:3px
}

.sidebar li {
    margin-left: 30px
}


.burger {
    margin-bottom:10px;
}

.beverages {
    margin-bottom:20px;
}

.container {
    padding: 5px;
    width:900px;
    height: 400px;
}

.clearfix{
    clear:both;
}

.container sidebar  mcindia{
   
      float:right;
    margin: auto;
    border-radius: 10px;
    border-width:5px;
    border-color: red;
    opacity:0.5;
}

footer {
    text-align: center;
    width:890px;
    background:yellow;
    padding:5px;
    position:relative;
    bottom:-30px;
}

